proxmox_endpoint     = "https://192.168.1.10:8006/"
proxmox_api_token    = "REPLACE_ME"
proxmox_tls_insecure = true
proxmox_node         = "pve"

template_vm_id   = 9000
ssh_public_key   = "REPLACE_ME"
vm_user_password = "REPLACE_ME"

attacker_vm_id        = 210
attacker_mgmt_ipv4    = "192.168.1.110/24"
attacker_mgmt_gateway = "192.168.1.1"
attacker_lab_ipv4     = "10.10.10.10/24"

target_vm_id       = 220
target_lab_ipv4    = "10.10.10.20/24"
target_lab_gateway = "10.10.10.10"
target_dns_servers = ["1.1.1.1", "9.9.9.9"]
