proxmox_endpoint     = "https://192.168.1.10:8006/"
proxmox_api_token    = "REPLACE_ME"
proxmox_tls_insecure = true
proxmox_node         = "pve"

template_vm_id   = 9000
ssh_public_key   = "REPLACE_ME"
vm_user_password = "REPLACE_ME"

baseline_vm_id        = 200
baseline_vm_name      = "baseline"
baseline_ipv4_configs = [{ address = "dhcp" }]